RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

<IfModule mod_headers.c>
Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains"
</IfModule>

ErrorDocument 401 https://azenox.fr/
ErrorDocument 402 https://azenox.fr/
ErrorDocument 403 https://azenox.fr/
ErrorDocument 404 https://azenox.fr/
